/*
Theme Name: Twenty Seventeen Child
Author: Alexander Melihov
Author URI: https://github.com/melihovv
Template: twentyseventeen
*/

@media screen and (min-width: 48em) {
    body.page-two-column:not(.archive) #primary .entry-content,
    body.page-two-column:not(.archive) #primary .entry-header {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width: 48em) {
    .has-sidebar:not(.error404) #primary {
        width: 100%;
        float: none;
    }
}

.recaptcha {
    margin-bottom: 20px;
}

.type-books img {
    float: left;
    margin-right: 10px;
}

.type-books h1 {
    display: inline;
}
